# Created by .ignore support plugin (hsz.mobi)

/codeStyles/
/$CACHE_FILE$
/atlassian-ide-plugin.xml
/markdown-navigator.xml
/markdown-navigator-enh.xml
/rGraphicsSettings.xml
/rpackages.xml
/rSettings.xml
